<!-- Cover Page Collage -->
<div class="cover-collage">
  <div class="collage-row">
    <div class="collage-item">
      <img src="https://i.pinimg.com/736x/1a/d9/47/1ad9479e3d40cc852ac98f38cb958810.jpg" alt="Image 1" />
    </div>
    <div class="collage-item">
      <img src="https://i.pinimg.com/474x/f2/df/0e/f2df0e47ef334296d18c81c7515f9859.jpg" alt="Image 2" />
    </div>
    <div class="collage-item">
      <img src="https://i.pinimg.com/474x/d4/44/c7/d444c7edf4fbbcc0a5fb36c7dc9f4d77.jpg" alt="Image 3" />
    </div>
  </div>
</div>